<div class='page-header clearfix'>
  <h1 class='col-md-6'>
    <span>Assignments</span>
    <%if current_user.admin?%>
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newAssignmentForm">
        Create new assignment
      </button>
    <%end%>
  </h1>
  <h1 class='col-md-6'>
    Notifications
  </h1>
</div>




<div class="col-md-6">
<table class='table'>
  <thead>
    <tr>
      <th>Assignment Title</th>
      <th>Draft Due Date</th>
      <th>Final Due Date</th>
      <% if current_user.admin? %>
        <th>Edit</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td>
          <%if current_user.admin?%>
             <%= link_to assignment.title, {:controller => "posts", :action => "index", :assignment_id => assignment.id }, :class=> "btn btn-link"%>
          <%else%>
            <% @post = Post.where(user_id: current_user, assignment_id: assignment.id)%>
            <%if @post.exists? %>
              <%= link_to assignment.title, {:controller => "posts", :action => "show", :id => @post.first.id, :assignment_id => assignment.id }, :class=> "btn btn-link"%>
            <%else%>
              <%= link_to assignment.title, {:controller => "posts", :action => "new", :assignment_id => assignment.id }, :class=> "btn btn-link"%>      
            <%end%>
          <%end%>
        </td>
        <td>
          <%= assignment.draft_due.strftime("%A, %B %d at %I:%M %p") %>
        </td>
        <td>
          <%= assignment.final_due.strftime("%A, %B %d at %I:%M %p") %>
        </td>
        <% if current_user.admin? %>
          <td>
             <%= link_to 'Edit', edit_assignment_path(assignment) %><br>
             <%= link_to 'Delete', assignment, method: :delete %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
</table>
</div>

<div class="col-md-6">
  <%= render 'notifications/notificationlist', :collection => @notifications%>
</div>



<!-- Modal -->
<div class="modal fade" id="newAssignmentForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">New assignment</h2>
      </div>
      <div class="modal-body">
        <% @assignment=Assignment.new %>

      <%= form_for(@assignment, :html=>{:class=>"form-horizontal"}) do |f| %>

          <div class="form-group">
            <%= f.label :title, class:'control-label col-md-2' %>
            <div class='col-md-10'>
              <%= f.text_field :title, class:'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :description, class:'control-label col-md-2' %>
            <div class='col-md-10'>
              <%= f.bootsy_area :description, class:'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :draft_due, class:'control-label col-md-2' %>
            <div class='col-md-10'>
              <%= f.datetime_select :draft_due%>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :final_due, class:'control-label col-md-2' %>
            <div class='col-md-10'>
              <%= f.datetime_select :final_due%>
            </div>
          </div>
    
</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Save", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
