<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <h2>Notification Frequency</h2>
    <p>Select from one of the options below:</p>
    <%= f.radio_button :notificationFrequency, 0 %>
    <%= f.label("I do not want to receive notifications by email") %></br>
    <%= f.radio_button :notificationFrequency, 1 %>
    <%= f.label("I want to receive a single notification by email every time a new notification appears on my account") %></br>
    <%= f.radio_button :notificationFrequency, 2%>
    <%= f.label("I want to receive a list of notifications for my account by email every 24 hours") %></br>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>


