<!DOCTYPE html>
    <html>
      <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        </head>
        <body>
          <h1>Hello!</h1>
          <p>
            If your account has new notifications, they will be lised below.<br><br>
            Please visit the course website at: <%= @url %><br>
            Or you can follow the links provided by the notifications.<br><br>
            Thanks!<br>

        <% if @recipient.notificationFrequency == 2 && @recipient.admin == false %>
          <h1>List of Notifications (past 24 hours):</h1>
          <% i = 0 %>
          <% @notifications.each do |x| %>
            <% if x.recipient_id == @recipient.id && x.created_at >= 1.day.ago %>
              <% i += 1 %>
              <%= i %>.
              <%= x.action %> -- 
              <%= x.url %>
              <br>
            <% end %>
          <% end %>
        <% elsif @recipient.notificationFrequency == 1 && @recipient.admin == false %>
          <h1>New Notification:</h1>
          <% @notifications.reverse.each do |x| %>
            <% if x.recipient_id == @recipient.id %>
              <%= x.action %> --
              <%= x.url %>
              <% break %>
            <% end %>
          <% end %>
        <% elsif @recipient.admin == true %> 
          <h1>List of all Notifications (past 24 hours):</h1>
          <% i = 0 %>
          <% @notifications.each do |x| %>
            <% if x.created_at >= 1.day.ago %>
              <% i += 1 %>
              <%= i %>. User ID  
              <%= x.recipient_id %> --
              <%= x.action %> -- 
              <%= x.url %>
              <br>
            <% end %>
          <% end %>
        <% end %> 
        </p>
      </body>
    </html>