<%= form_for(@tournament, :html=>{:class=>"form-horizontal"}) do |f| %>

          <div class="form-group">
            <%= f.label :assignment_id, class:'control-label col-md-2' %>
            <%= f.collection_select :assignment_id, Assignment.order(:title),:id,:title %>
          </div>

          <div class="form-group">
            <%= f.label :gd_percent, "Weight of Good Design", class:'control-label col-md-2' %>
            <%= f.text_field :gd_percent%>
          </div>
          
          <div class="form-group">
            <%= f.label :ge_percent, "Weight of Good Examples", class:'control-label col-md-2' %>
            <%= f.text_field :ge_percent%>
          </div>

          <div class="form-group">
            <%= f.label :ww_percent, "Weight of Well Written", class:'control-label col-md-2' %>
            <%= f.text_field :ww_percent%>
          </div>

          <div class="form-group">
            <%= f.label :gr_percent, "Weight of Good Reflection", class:'control-label col-md-2' %>
            <%= f.text_field :gr_percent%>
          </div>

          <div class="form-group">
            <%= f.label :read_percent, "Weight of Reads", class:'control-label col-md-2' %>
            <%= f.text_field :read_percent%>
          </div>

           <div class="form-group">
            <%= f.label :closed, class:'control-label col-md-2' %>
            <%= f.check_box :closed, {}, true, false%>
          </div>

          <%= f.submit "Save", class: 'btn btn-primary' %>

      <% end %>