<%@assignments.each do |assignment|%>
  <h1>Posts For Assignment: <%=assignment.title%></h1>
  <table class='table sortable'>
    <thead>
      <tr>
        <th>Post Author</th>
        <th>Group</th>
        <th>Good Design</th>
        <th>Good Use of Examples</th>
        <th>Well-Written</th>
        <th>Good Reflection Statement</th>
        <th>Number of Reads</th>
      </tr>
    </thead>
    <tbody>
        <%@posts.where(assignment_id: assignment.id).each do |post|%>
          <tr>
            <td>
              <%if current_user.admin?%>
                <%= link_to post.user.name, post_path(post), :class=> "btn btn-link"%>
              <%else%>
                <%= link_to post.user.nickname, post_path(post), :class=> "btn btn-link"%>
              <%end%>
            </td>
            <td>
              <%=post.user.group_id%>
            </td>
            <td>
              <%=Badge.where(post_id: post.id, name: "good design").count%>
            </td>
            <td>
              <%=Badge.where(post_id: post.id, name: "good examples").count%>
            </td>
            <td>
              <%=Badge.where(post_id: post.id, name: "well written").count%>
            </td>
            <td>
              <%=Badge.where(post_id: post.id, name: "good reflection").count%>
            </td>
            <td>
              count
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
<%end%>