<div class="col-md-8">
	<div class="page-header">
		<h1><%= @assignment.title %>		
			<%if @post.user == current_user && @assignment.final_due > Time.zone.now%>
				<button type="button" class="btn btn-primary pull-right view" id='edit'>
				Edit Post
				</button>
			<%end%>
			<%if current_user.admin? && !@post.gold_star%>
				<%=form_for(@post) do |f|%>
					<%=f.hidden_field :gold_star, value: true%>
					<%=f.submit "Mark As Gold Star", class: 'btn btn-primary pull-right'%>
				<%end%>
			<%elsif current_user.admin? && @post.gold_star%>
				<%=form_for(@post) do |f|%>
					<%=f.hidden_field :gold_star, value: false%>
					<%=f.submit "Unmark As Gold Star", class: 'btn btn-primary pull-right'%>
				<%end%>
			<%end%>
		</h1>
		<h5 style="color:red"><%= @assignment.draft_due.strftime("%A, %B %d at %I:%M %p")%></h5>
		<h5 style="color:red"><%= @assignment.final_due.strftime("%A, %B %d at %I:%M %p")%></h5>
		<h5>by: <%= @post.user.nickname %></h5>
		<%if current_user != @post.user%>
			<div>
				<div class="col-md-3">
					<%if !@badge_1.exists?%>
						<%=form_for(Badge.new) do |f|%>
							<%=f.hidden_field :user_id, value: current_user.id%>
							<%=f.hidden_field :post_id, value: @post.id%>
							<%=f.hidden_field :name, value: "good design"%>
							<%=f.submit "Good Design (" + Badge.where(post_id: @post.id, name: 'good design').count.to_s + ")", class: 'btn btn-default btn-sm'%>
						<%end%>
					<%else%>
						<%= link_to "Good Design (" + Badge.where(post_id: @post.id, name: 'good design').count.to_s + ")", @badge_1.first, method: :delete, class: 'btn btn-default btn-sm delete'%>
					<%end%>
				</div>


				<div class="col-md-3">
					<%if !@badge_2.exists?%>
						<%=form_for(Badge.new) do |f|%>
							<%=f.hidden_field :user_id, value: current_user.id%>
							<%=f.hidden_field :post_id, value: @post.id%>
							<%=f.hidden_field :name, value: "good examples"%>
							<%=f.submit "Good Examples (" + Badge.where(post_id: @post.id, name: 'good examples').count.to_s + ")", class: 'btn btn-default btn-sm'%>
						<%end%>
					<%else%>
						<%= link_to "Good Examples (" + Badge.where(post_id: @post.id, name: 'good examples').count.to_s + ")", @badge_2.first, method: :delete, class: 'btn btn-default btn-sm delete' %>
					<%end%>
				</div>

				<div class="col-md-3">
					<%if !@badge_3.exists?%>
						<%=form_for(Badge.new) do |f|%>
							<%=f.hidden_field :user_id, value: current_user.id%>
							<%=f.hidden_field :post_id, value: @post.id%>
							<%=f.hidden_field :name, value: "well written"%>
							<%=f.submit "Well Written (" + Badge.where(post_id: @post.id, name: 'well written').count.to_s + ")", class: 'btn btn-default btn-sm'%>
						<%end%>
					<%else%>
						<%= link_to "Well Written (" + Badge.where(post_id: @post.id, name: 'well written').count.to_s + ")", @badge_3.first, method: :delete, class: 'btn btn-default btn-sm delete' %>
					<%end%>
				</div>


				<div class="col-md-3">
					<%if !@badge_4.exists?%>
						<%=form_for(Badge.new) do |f|%>
							<%=f.hidden_field :user_id, value: current_user.id%>
							<%=f.hidden_field :post_id, value: @post.id%>
							<%=f.hidden_field :name, value: "good reflection"%>
							<%=f.submit "Good Reflection Statement (" + Badge.where(post_id: @post.id, name: 'good reflection').count.to_s + ")", class: 'btn btn-default btn-sm'%>
						<%end%>
					<%else%>
						<%= link_to "Good Reflection Statement (" + Badge.where(post_id: @post.id, name: 'good reflection').count.to_s + ")", @badge_4.first, method: :delete, class: 'btn btn-default btn-sm delete' %>
					<%end%>
				</div>
				<br><br>
			</div>
		<%else%>
			<div>
				<div class="col-md-3">
					Good Design (<%=Badge.where(post_id: @post.id, name: 'good design').count%>)
				</div>

				<div class="col-md-3">
					Good Examples (<%=Badge.where(post_id: @post.id, name: 'good examples').count%>)
				</div>

				<div class="col-md-3">
					Well Written (<%=Badge.where(post_id: @post.id, name: 'well written').count%>)
				</div>

				<div class="col-md-3">
					Good Reflection Statement (<%=Badge.where(post_id: @post.id, name: 'good reflection').count%>)
				</div>
				<br><br>
			</div>
		<%end%>




	</div>
	<div class="well well-lg view">
		<%=@post.content.html_safe%>
	</div>
	<div class="well well-lg edit" style="display:none;">
		<%=render 'form'%>
		<%= link_to "Cancel", @post, class: 'btn btn-link' %>
	</div>
</div>

<div class="col-md-4 commentbar" style="height:100%;">
	<%if @post.user.group == current_user.group%>
		<div class="page-header">
			<span style="display: inline;">
				<ul class="nav nav-pills">
					<%@group_members.each do |user|%>
						<% if Post.where(user_id: user.id, assignment_id: @assignment.id).exists?%>
							<% @post = Post.find(Post.where(user_id: user.id, assignment_id: @assignment.id).first.id)%>
							<li><a href=<%=post_path(@post)%>><%=user.nickname%>'s Post</a></li>				
						<%end%>
					<%end%>
				</ul>
			</span>
		</div>
	<%end%>

	<div style="height: 40%; overflow: scroll">
		<%@comments.each do |comment|%>
			<div class="well well-sm">
				<div style="white-space: pre-line;"><%=comment.content.html_safe%></div>
				<h5><div class='col-md-6'><small>by: <%= comment.user.nickname %></small></div>
					<button type="button" class="btn btn-default btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="" data-id="<%=comment.id%>">
						<span class="glyphicon glyphicon-share-alt"></span> <%=comment.replies.count%>
					</button>
				</h5>
			</div>

			<div style="display:none;" id="viewReplies<%=comment.id%>">
				<% comment.replies.each do |reply|%>
					<div class="well well-sm">
						<div style="white-space: pre-line;"><%=reply.content%></div>
						<small>by: <%= reply.user.nickname %></small>
					</div>
				<%end%>
				<%= form_for(Reply.new, :html=>{:class=>"form-horizontal"}) do |f| %>
					<%= f.text_area :content, class:'form-control', rows:2 %>
					<%=f.hidden_field :comment_id, value: comment.id%>
					<%=f.hidden_field :user_id, value: current_user.id%>
					<%= f.submit "Save", class: 'btn btn-primary btn-sm pull-right' %>
				<%end%>
			</div>

		<%end%>
	</div>

	<div style="padding-top: 10px;">
		<%=form_for(Comment.new) do |f|%>
			<%= f.text_area :content, class:'form-control', rows:6, class:'form-control' %><br>
			<%= f.hidden_field :user_id, value: current_user.id%>
			<%= f.hidden_field :post_id, value: @post.id%>
			<%= f.submit "Save Comment", class:'btn btn-primary pull-right'%>
		<%end%>
	</div>
</div>





<script>
	$(function(){
	    $('[data-toggle="popover"]').popover({
	    	placement: "bottom",
	    	container: 'body', 
		    content: function() {
		    	var comment_id = $(this).data("id");
		    	return $('#viewReplies'+comment_id).html();
		    },
	      	html: true
	  	});
	});

	$('body').on('click', function (e) {
 	    $('[data-toggle="popover"]').each(function () {
 	        //the 'is' for buttons that trigger popups
 	        //the 'has' for icons within a button that triggers a popup
 	        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
 	            $(this).popover('hide');
 	        }
 	    });
 	});

	function editPost(){
		$(".view").hide();
		$(".edit").show();
	}
	function viewPost(){
		$(".edit").hide();
		$(".view").show();
	}
	$(function(){
		$("#edit").click(function(event){
			event.preventDefault();
			editPost();
		});	
	});

</script>