<div class="col-md-8">
	<div class="page-header">
		<h1><%= @assignment.title %>		
			<%if @post.user == current_user%>
				<button type="button" class="btn btn-primary pull-right view" id='edit'>
				Edit Post
				</button>
			<%end%>
		</h1>
		<h5 style="color:red"><%= @assignment.draft_due.strftime("%A, %B %d at %I:%M %p")%></h5>
		<h5 style="color:red"><%= @assignment.final_due.strftime("%A, %B %d at %I:%M %p")%></h5>
		<h5>by: <%= @post.user.nickname %></h5>

	</div>
	<div class="well well-lg view">
		<%=@post.content.html_safe%>
	</div>
	<div class="well well-lg edit" style="display:none;">
		<%=render 'form'%>
		<%= link_to "Cancel", @post, class: 'btn btn-link' %>
	</div>
</div>

<div class="col-md-4 commentbar" style="height:100%;">
	<div class="page-header">
		<span style="display: inline;">
			<ul class="nav nav-pills">
				<%@group_members.each do |user|%>
					<% if Post.where(user_id: user.id, assignment_id: @assignment.id).exists?%>
						<% @post = Post.find(Post.where(user_id: user.id, assignment_id: @assignment.id).first.id)%>
						<li><a href=<%=post_path(@post)%>><%=user.nickname%>'s Post</a></li>				
					<%end%>
				<%end%>
			</ul>
		</span>
	</div>

	<div style="height: 40%; overflow: scroll">
		<%@comments.each do |comment|%>
			<div class="well well-sm">
				<%=comment.content.html_safe%>
				<br>
				<h5>by: <%= comment.user.nickname %><button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#viewReplies<%=comment.id%>"><span class="glyphicon glyphicon-share-alt"></span> <%=comment.replies.count%></button>
				</h5>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="viewReplies<%=comment.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h2 class="modal-title" id="myModalLabel">Replies</h2>
						</div>
						<div class="modal-body">
							<% comment.replies.each do |reply|%>
								<div class="well well-sm">
									<%=reply.content%>
									<h5>by: <%= reply.user.nickname %>
								</div>
							<%end%>
							<%= form_for(Reply.new, :html=>{:class=>"form-horizontal"}) do |f| %>
								<%= f.text_area :content, class:'form-control', rows:2 %>
								<%=f.hidden_field :comment_id, value: comment.id%>
								<%=f.hidden_field :user_id, value: current_user.id%>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<%= f.submit "Save", class: 'btn btn-primary' %>
						</div>
							<% end %>
					</div>
				</div>
			</div>
		<%end%>
	</div>

	<div>
		<%=form_for(Comment.new) do |f|%>
			<%= f.text_area :content, class:'form-control', rows:6, class:'form-control' %><br>
			<%= f.hidden_field :user_id, value: current_user.id%>
			<%= f.hidden_field :post_id, value: @post.id%>
			<%= f.submit class:'btn btn-primary'%>
		<%end%>
	</div>
</div>









<script>
	function editPost(){
		$(".view").hide();
		$(".edit").show();
	}
	function viewPost(){
		$(".edit").hide();
		$(".view").show();
	}
	$(function(){
		$("#edit").click(function(event){
			event.preventDefault();
			editPost();
		});	
	});

</script>